[mysqld]
datadir=/var/lib/mysql
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
init_connect='SET NAMES utf8mb4'
default-storage-engine=INNODB
log-bin=mysql-bin
binlog-format=ROW
server-id=1

[client]
user=root
default-character-set=utf8mb4
