<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chat.mapper.ChatMapper">
    <resultMap id="chatMetaResultMap" type="com.example.model.entity.ChatMeta">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result
            property="model"
            column="model"
            typeHandler="com.example.chat.handler.ModelTypeHandler"
            javaType="com.example.model.type.ModelType"
        />
        <result property="topic" column="topic"/>
        <result property="starred" column="starred"/>
    </resultMap>

    <resultMap id="chatResultMap" type="com.example.model.entity.Chat">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result
            property="model"
            column="model"
            typeHandler="com.example.chat.handler.ModelTypeHandler"
            javaType="com.example.model.type.ModelType"
        />
        <result property="topic" column="topic"/>
        <result property="starred" column="starred"/>
        <result property="content" column="content"/>
    </resultMap>

    <sql id="chatMetaColumns">
        `id`, `user_id`, `model`, `topic`, `starred`
    </sql>

    <sql id="chatColumns">
        `id`, `user_id`, `model`, `content`, `topic`, `starred`
    </sql>

    <select id="selectChatMetasByUserId" resultMap="chatMetaResultMap">
        SELECT
        <include refid="chatMetaColumns"/>
        FROM `chat`
        WHERE `user_id` = #{userId}
    </select>

    <select id="selectChatsByUserId" resultMap="chatResultMap">
        SELECT
        <include refid="chatColumns"/>
        FROM `chat`
        WHERE `user_id` = #{userId}
    </select>

    <select id="selectById" resultMap="chatResultMap">
        SELECT
        <include refid="chatColumns"/>
        FROM `chat`
        WHERE `id` = #{id}
    </select>

    <insert id="insert" parameterType="com.example.model.entity.Chat">
        INSERT INTO
            `chat`(`id`, `user_id`, `model`, `content`, `topic`, `starred`)
        VALUES
            (#{id}, #{userId}, #{model}, #{content}, #{topic}, #{starred})
    </insert>

    <update id="starChat">
        UPDATE
            `chat`
        SET
            `starred` = 1
        WHERE
            `id` = #{id}
    </update>
    <update id="unstarChat">
        UPDATE
            `chat`
        SET
            `starred` = 0
        WHERE
            `id` = #{id}
    </update>

    <delete id="deleteChat">
        DELETE FROM
            `chat`
        WHERE
            `id` = #{id}
    </delete>
</mapper>